a, p, h2 {
  text-align: center;
}

#logo_header {
  padding: 0px 2px 2px 3px;    
  border-bottom-width:1px;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;
  width: 100%;
}

#logo_header h2 {
  color: rgb(28, 184, 65);
}

#login_button, #register_button {
  margin-top: 5px;
  width: 80%;
  background: rgb(28, 184, 65);
  margin-left: 5%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

a {
  text-decoration: none;
}